james/nodered/flows.backup
[{"type":"tab","id":"3117df6.fcee82","label":"tests"},{"id":"89ea94e8.761568","type":"debug","name":"deb","active":true,"console":"true","complete":"false","x":871,"y":60,"z":"3117df6.fcee82","wires":[]},{"id":"2f495341.d0b6ac","type":"http response","name":"response","x":1237,"y":316,"z":"3117df6.fcee82","wires":[]},{"id":"8977cc80.76883","type":"http in","name":"say","url":"/say/","method":"get","x":56,"y":328,"z":"3117df6.fcee82","wires":[["89ea94e8.761568","c8606940.379f98"]]},{"id":"c29c51d3.3d63b","type":"http request","name":"tts","method":"POST","url":"http://www.acapela-group.com/demo-tts/DemoHTML5Form_V2.php","x":391,"y":529,"z":"3117df6.fcee82","wires":[["89ea94e8.761568","e9b0830f.164f8"]]},{"id":"e9b0830f.164f8","type":"html","tag":"script:contains('http://194')","ret":"text","as":"multi","name":"","x":615,"y":629,"z":"3117df6.fcee82","wires":[["89ea94e8.761568","f3799a5c.0c8668"]]},{"id":"f3799a5c.0c8668","type":"coffee","name":"ExtractPhase Link","func":"ev = require 'extract-values'\nconsole.log msg\nresText = msg.payload\nconsole.log resText\nresLink = ev resText, \"myPhpVar = \\'{fileSource}\\';\"\nconsole.log resLink\nJSON.stringify resLink\nlink = JSON.stringify resLink.fileSource\nmsg = { \npayload:{\n  \"phraseLink\": link\n  },\n  headers: {\n      \"Content-Type\": \"application/x-www-form-urlencoded\"\n    }\n} \nconsole.log msg.payload\n\nmsg;","outputs":1,"x":892,"y":440,"z":"3117df6.fcee82","wires":[["89ea94e8.761568","2f495341.d0b6ac"]]},{"id":"6782585d.987da8","type":"http in","name":"fpp","url":"/foo","method":"get","x":91,"y":165,"z":"3117df6.fcee82","wires":[["89ea94e8.761568"]]},{"id":"c8606940.379f98","type":"coffee","name":"","func":"phrase = {{message.query.param.say}};\n\n\nconsole.log phrase\n\n\nmessage = {\n  payload: \"MyLanguages=sonid8%26MySelectedVoice=Graham%26MyTextForTTS=hello+there%26SendToVaaS=''\",\n  headers: \n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n    \nmsg = message\nconsole.log @\nreturn msg; ","outputs":1,"x":269,"y":362,"z":"3117df6.fcee82","wires":[["89ea94e8.761568"]]}]