james/nodered/flows.backup
[{"type":"tab","id":"3117df6.fcee82","label":"tests"},{"id":"89ea94e8.761568","type":"debug","name":"deb","active":true,"console":"true","complete":"false","x":871,"y":60,"z":"3117df6.fcee82","wires":[]},{"id":"de9e2a22.2161d8","type":"http in","name":"footest","url":"/foo","method":"get","x":546,"y":109,"z":"3117df6.fcee82","wires":[["89ea94e8.761568","796018f.f869fe8"]]},{"id":"3eff9930.c10066","type":"inject","name":"","topic":"","payload":"hello","payloadType":"string","repeat":"","crontab":"","once":false,"x":322,"y":53,"z":"3117df6.fcee82","wires":[["89ea94e8.761568"]]},{"id":"2f495341.d0b6ac","type":"http response","name":"response","x":1237,"y":316,"z":"3117df6.fcee82","wires":[]},{"id":"796018f.f869fe8","type":"coffee","name":"echotest","func":"if msg.payload.name.length > 0\n\tfoo = \"Hello \" + msg.payload.name\nelse\n\tfoo = \"who are you?\"\n\t\nmsg.payload.phrase =  foo\nreturn msg\n","outputs":1,"x":747,"y":200,"z":"3117df6.fcee82","wires":[["2f495341.d0b6ac","89ea94e8.761568"]]},{"id":"c5bd5197.3a42b","type":"json","name":"","x":338,"y":149,"z":"3117df6.fcee82","wires":[[]]},{"id":"8977cc80.76883","type":"http in","name":"say","url":"/say/","method":"get","x":56,"y":328,"z":"3117df6.fcee82","wires":[["89ea94e8.761568","dfea3ed2.2015c"]]},{"id":"c29c51d3.3d63b","type":"http request","name":"tts","method":"POST","url":"http://www.acapela-group.com/demo-tts/DemoHTML5Form_V2.php","x":391,"y":529,"z":"3117df6.fcee82","wires":[["89ea94e8.761568","e9b0830f.164f8"]]},{"id":"dfea3ed2.2015c","type":"function","name":"","func":"var VarPayload, message, msg, phrase;\n  phrase = 'hello+there';\n \n  message = {\n    payload: \"MyLanguages=sonid8&MySelectedVoice=Graham&MyTextForTTS=hello+there&SendToVaaS=\",\n   \n    headers: {\n      \"Content-Type\": \"application/x-www-form-urlencoded\"\n    }\n  };\n  msg = message;\n  console.log(msg.payload);\n  return msg;","outputs":1,"x":221,"y":432,"z":"3117df6.fcee82","wires":[["c29c51d3.3d63b"]]},{"id":"e9b0830f.164f8","type":"html","tag":"script:contains('http://194')","ret":"text","as":"multi","name":"","x":615,"y":629,"z":"3117df6.fcee82","wires":[["89ea94e8.761568","f3799a5c.0c8668"]]},{"id":"f3799a5c.0c8668","type":"coffee","name":"ExtractPhase Link","func":"ev = require 'extract-values'\nconsole.log msg\nresText = msg.payload\nconsole.log resText\nresLink = ev resText, \"myPhpVar = \\'{fileSource}\\';\"\nconsole.log resLink\nJSON.stringify resLink\nlink = JSON.stringify resLink.fileSource\nmsg = \npayload:{\n  \"phraseLink\": link\n  },\n  headers: {\n      \"Content-Type\": \"application/x-www-form-urlencoded\"\n    }\n  \n  \nconsole.log msg.payload\n\nmsg;","outputs":1,"x":892,"y":440,"z":"3117df6.fcee82","wires":[["89ea94e8.761568","2f495341.d0b6ac"]]}]